@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
	font-family: Poppins;
	margin: 0;
	overflow-x: hidden
}

a {
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;	
}

#headerText {	
	position: relative;
	display: flex;
	max-width: 1200px;
	width: 100%;
    align-items: center;
	justify-content: space-between;
	padding: 1% 0;
}


#titleLogoDiv {
	display: flex;
	flex-direction: row;

}

#title {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
}

h1 {
	font-family: PoppinsBold;
	font-size: 1.5em;
	margin: 0;
}

h2 {
	font-size: 1em;
	font-weight: normal;	
	font-style: italic;
	margin: 0;	
}


nav>a {
	padding: 0 20px;
	transition: 0.3s;
}

nav>a:hover {
	color: white;
	background-color: grey;

}

#banniere {
	width: 100%;
}

#headerImg {
	position: relative;

}

.bubble {
	position: absolute;
	font-family: PoppinsBold;
	color: 	#404040;	
	font-size: calc(16px + (40 - 16) * ((100vw - 600px) / (1600 - 600)));	
}

#bubbleLeft {
	top: 23%;
	left: 37%;

}

#bubbleLeft>P {
	margin: 0;
}

#bubbleRight {
	top: 51%;
	left: 43%;	
}

main {
	max-width: 1200px;
	margin: auto;
	font-family: PoppinsBold;
	font-size: 1.5em;	
}

#mainSection {
	max-width: 1200px;	
	display: flex;
    align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%
}



.competencesElt {
	display: flex;
	margin: 0;
	width: 400px;
	padding: 50px 0;
	justify-content: center;
	align-items: flex-start;
}

.competencesImg {
	height: 150px;
	width: 150px;
}

.compText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 20px;
	font-size: 36px
}

.compText>p {
	margin: 0;
}

h3 {
	color: 	#404040;
	padding: 30px 0;	
	font-size: 40px;
	padding-left: 60px;
}

.hamburgerlayer {
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 5px 0;

}

#hamburger {
	display: none;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-bottom: 0;
}

#navMobile {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	background-color: #00cccc;
	z-index: 2;
	position: absolute;
    top: 100%;
    right: -30vw;
    height: 315px ;
    width: 110vw;
	padding-left: 30vw;
	font-family: PoppinsBold;
}


@media screen and (max-width: 800px) {
	
		#mainSection  {
			justify-content: space-around;
		}
		
		h3 {
			text-align: center;
			padding-left: 0;
		}

		.competencesElt:nth-child(1) {
			order: 1;

		}
		
		.competencesElt:nth-child(2) {
			order: 3

		}	
		
		.competencesElt:nth-child(3) {
			order: 4;

		}	
		
		.competencesElt:nth-child(4) {
			order: 2;

		}	
		
		.competencesElt:nth-child(5) {
			order: 5;

		}
	
}


@media screen and (max-width: 600px) {
	
		#hamburger {
			display: flex;
		}
		
		nav {
			display: none;
		}
		
		#headerText {	
			justify-content: space-around;
		}
		

		
		#hamburger:hover  #navMobile{
			display: flex;

		}	
		

		.compText {
			padding: 30px 2px;
		}	
		
		.competencesImg {
			width: 100px;
			height: 100px;
		}

		#banniere {
			object-fit: cover;
			width: 600px;
			height: 300px;
		}
		
		.compText {
			font-size: 25px
		}	
		
		.bubble {
			font-size : 16px;
		}
		
		h3 {
			font-size : 29px;;
		}

}







